@use 'variables';

@mixin heading-1 ($font-color: variables.$font-color-primary, $font-size: 3rem, $font-weight: 500){
  font-family: variables.$font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $font-color;
}

@mixin heading-2 ($font-color: variables.$font-color-primary, $font-size: 2.5rem, $font-weight: 500){
  font-family: variables.$font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $font-color;
}

@mixin heading-3 ($font-color: variables.$font-color-primary, $font-size: 1.75rem, $font-weight: 500){
  font-family: variables.$font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $font-color;
}

@mixin button-text ($font-color: variables.$font-color-primary, $font-size: 1.5rem){
  font-family: variables.$font-family;
  font-size: $font-size;
  font-weight: 500;
  color: $font-color;
}

@mixin body-text ($font-color: variables.$font-color-primary, $font-size: 1.35rem){
  font-family: variables.$font-family;
  font-size: $font-size;
  font-weight: 400;
  color: $font-color;
}

